<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MINDCARE</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <link href="../kriya/public/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../kriya/public/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../kriya/public/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../kriya/public/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../kriya/public/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../kriya/public/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="../kriya/public/assets/vendor/sweetalert/sweetalert.css" rel="stylesheet">
  <link href="../kriya/public/assets/css/style.css" rel="stylesheet">

<script>

function validate()
{
	var Frm = document.SKForm;

	if(Frm.txtEmailID.value == "")
	{
		swal("Please enter EmailID").then(function(){Frm.txtEmailID.focus();});
		return false;
	}

	if(Frm.txtPassword.value == "")
	{
		swal("Please enter Password").then(function(){Frm.txtPassword.focus();});
		return false;
	}
	
}

function BodyOnLoad()
{
	<%
	if(data.msg.msgid != ""){
	%>
		swal('<%=data.msg.des%>', '', 'error')
	<%
	}
	%>
}

</script>

</head>

<body class="min-vh-100 d-flex flex-column" onload="BodyOnLoad()">

  <!-- ======= Header ======= -->
  <header id="header" class="header">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="#" class="logo d-flex align-items-center">
		<i class="bi bi-box"></i>
        <span>MINDCARE</span>
      </a>
  
    </div>
  </header><!-- End Header -->


  <main id="main">

    <section class="inner-page">
		<div class="container">
		<form name="SKForm" method="post" action="/kriya/login" onsubmit="return validate()">
		
			<div class="row justify-content-center mt-3">
				<div class="col-lg-5 col-md-5">
					<div class="card card01 margin-top-20">
						<div class="card-header">
							Login
						</div>
						<div class="card-body">
							<div class="title">
								<h6 class="title">Please enter your Email ID and Password</h6>
							</div>

							<div class="mt-3 mb-2">
							  <label for="username" class="form-label">Email ID</label>
							  <input type="text" class="form-control" name="txtEmailID" id="txtEmailID">
							</div>
							<div class="mb-2">
							  <label for="password" class="form-label">Password</label>
							  <input type="password" class="form-control" name="txtPassword" id="txtPassword">
							</div>

						</div>
					</div>
				</div>
			</div>

			<div class="text-center mt-2">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>

		</form>
		</div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer mt-auto">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>MINDCARE</span></strong>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <script src="../kriya/public/assets/vendor/purecounter/purecounter.js"></script>
  <script src="../kriya/public/assets/vendor/aos/aos.js"></script>
  <script src="../kriya/public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../kriya/public/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../kriya/public/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../kriya/public/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../kriya/public/assets/vendor/sweetalert/sweetalert.min.js"></script>
  <script src="../kriya/public/assets/js/main.js"></script>

</body>

</html>