<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SecureFin</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <link href="../SecFin/public/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../SecFin/public/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../SecFin/public/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../SecFin/public/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../SecFin/public/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../SecFin/public/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="../SecFin/public/assets/vendor/sweetalert/sweetalert.css" rel="stylesheet">
  <link href="../SecFin/public/assets/css/style.css" rel="stylesheet">

<script>

function validate()
{
	var Frm = document.AgritracForm;

}

function BodyOnLoad()
{

}

</script>

</head>

<body class="min-vh-100 d-flex flex-column">

  <!-- ======= Header ======= -->
  <header id="header" class="header">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="#" class="logo d-flex align-items-center">
		        <span>SecFin</span>
      </a>
  
    </div>
  </header><!-- End Header -->


  <main id="main">

    <section id="features" class="features">
		<div class="container">

			<div class="row align-items-center">

			  <div class="col-lg-5 mt-5 mt-lg-0 d-flex">

					<div class="row align-self-center gy-4">
					  <div class="col-lg-12">
						<div class="feature-box d-flex align-items-center">
						  <h3><a href="/SecFin/createAsset">Create Asset</a></h3>
            </div>
					  </div>
					</div>
					<div class="row align-self-center gy-4">
					  <div class="col-lg-12">
						<div class="feature-box d-flex align-items-center">
						  <h3><a href="/SecFin/ValidateAsset">Validate Asset</a></h3>
            </div>
					  </div>
			  </div>

			</div>
		
		</div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer mt-auto">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>SecFin</span></strong>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <script src="../SecFin/public/assets/vendor/purecounter/purecounter.js"></script>
  <script src="../SecFin/public/assets/vendor/aos/aos.js"></script>
  <script src="../SecFin/public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../SecFin/public/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../SecFin/public/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../SecFin/public/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../SecFin/public/assets/vendor/sweetalert/sweetalert.min.js"></script>
  <script src="../SecFin/public/assets/js/main.js"></script>

</body>

</html>