@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius:0px;
}
.full-page
{
    height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(208, 189, 189, 0),rgba(245, 242, 242, 0)),url(./img/img-14.PNG);
    opacity: 1;
	background-position: center;
	background-size: cover;
	position: absolute;
    font-family: 'Montserrat', sans-serif;
}
.navbar
{
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 50px;
}
nav
{
    flex: 1;
    text-align: right;
}
nav ul 
{
    display: inline-block;
    list-style: none;
}
nav ul li
{
    display: inline-block;
    margin-right: 70px;
}
nav ul li a
{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
}
nav ul li button
{
    font-size: 20px;
    color: white;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: sans-serif;
}
nav ul li button:hover
{
    color: aqua;
}
nav ul li a:hover
{
    color: aqua;
}
a
{
    text-decoration: none;
    color: rgb(244, 0, 0);
    font-size: 28px;
    
}
.login-form
{
    display: none;
}
.form-box
{
    width:380px;
	height:480px;
	position:relative;
	margin:2% auto;
    margin-right:400px;
	background:rgba(255, 255, 255, 0.808);
    border: 45px;
	padding:10px;
    overflow: hidden;
}
.button-box
{
	width:220px;
	margin:35px auto;
	position:relative;
	box-shadow: 0 0 20px 9px #1509041f;
	border-radius: 30px;
}
.toggle-btn
{
	padding:10px 20px;
	cursor:pointer;
	background:transparent;
	border:0;
	outline: none;
	position: relative;
    color:rgb(41, 34, 34);
}
#btn
{
	top: 0;
	left:0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: #fb9494;
	border-radius: 30px;
	transition: .5s;
}
.input-group-login
{
	top: 150px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-group-register
{
    top: 120px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-field
{
	width: 100%;
	padding:5px 0;
	margin:5px 0;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 2px solid rgb(255, 104, 104);
    border-radius:0%;
	outline:none;
	background: transparent;
}
.submit-btn
{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: #fb9494;
	border: 0;
	outline: none;
	border-radius: 30px;
}
.check-box
{
	margin: 30px 10px 34px 0;
}
span
{
	color:rgb(0, 0, 0);
	font-size:12px;
	bottom:68px;
	position:absolute;
}
#login
{
	left:50px;
}
#login input
{
	color:#fb949;
	font-size:15px;
}
#register
{
	left:450px;
}
#register input
{
	color:white;
	font-size: 15;
}